/composer.phar
/tmp
/vendor/
#PHPStorm folder
/.idea
#backup files from unix editors
*~
#merge files
*.orig
#Ignoring MacDS_Store files
.DS_Store
/.php_cs.cache

#Ignoring .vagrant folder
/.vagrant
/*.sh
/.ant-targets-build.xml