language: php

php:
  - 5.4
  - 5.5
  - 5.6
before_script:
  - composer install --prefer-source --dev

script:
  - sed -i 's/^;//' ~/.phpenv/versions/$(phpenv global)/etc/conf.d/xdebug.ini
  - ./bin/phpunit
  - sed -i 's/^/;/' ~/.phpenv/versions/$(phpenv global)/etc/conf.d/xdebug.ini
  - ./bin/phpmd src/ text phpmd.xml
  - ./bin/phpcs --standard=phpcs.xml src/ -n
  - ./bin/php-cs-fixer fix src/ --dry-run --diff --level=symfony --fixers=short_array_syntax,-unused_use,-empty_return
  - ./bin/php-cs-fixer fix tests/ --dry-run --diff --level=symfony --fixers=short_array_syntax,-unused_use,-empty_return
# - ./bin/coveralls
