parameters:
	ignoreErrors:
	    - '#of method NullDev\\Skeleton\\Source\\ImprovedClassSource::addImportIfEligible\(\) expects#'
	    - '#of method NullDev\\Skeleton\\Source\\ImprovedClassSource::addImport\(\) expects#'
	    - '#Mockery\\MockInterface given#'
	    - '#Call to an undefined method Symfony\\Component\\Console\\Application::getContainer\(\)#'
	    - '#Call to an undefined method Mockery\\MockInterface#'
	    - '#Call to an undefined method Mockery\\ExpectationInterface#'
	    - '#Argument of an invalid type array<PhpParser\\Node>|null supplied for foreach, only iterables are supported.#'
	    - '#Method App\\Application\:\:getDefaultCommands\(\) should return array<Symfony\\Component\\Console\\Command\\Command> but returns array<object>.#'
	    - '#Call to an undefined method Roave\\BetterReflection\\Reflection\\Reflection\:\:getParentClass\(\).#'
	    - '#Call to an undefined method Roave\\BetterReflection\\Reflection\\Reflection\:\:getConstructor\(\).#'
	    - '#Call to an undefined method Roave\\BetterReflection\\Reflection\\Reflection\:\:isInterface\(\).#'
	    - '#Call to an undefined method Roave\\BetterReflection\\Reflection\\Reflection\:\:isSubclassOf\(\).#'
	    - '#Method NullDevelopment\\PhpStructure\\Type\\ClassDefinition\:\:getConstructorParameters\(\) should return#'
	    - '#Call to an undefined method NullDevelopment\\PhpStructure\\Type\\Definition\:\:getCollectionOf\(\)#'
	    - '#Call to an undefined method NullDevelopment\\PhpStructure\\Type\\Definition\:\:getSubjectUnderTest\(\).#'
	    - '#Call to an undefined method NullDevelopment\\PhpStructure\\Type\\Definition\:\:getEntity\(\).#'
	    - '#Call to an undefined method NullDevelopment\\PhpStructure\\Type\\Definition\:\:isSerializationEnabled\(\)#'
	includes:
	    - vendor/phpstan/phpstan-phpunit/extension.neon
	    - vendor/phpstan/phpstan-phpunit/rules.neon




